& .header_nav li{
    list-style: none;
    display: flex;
    align-items: center;
    a {
        margin: 0 18px;
        color: #1f1534;
        font-size: 1rem;
        display: inline-block;
    }
} 
& .header_nav li:last-child a{
    background: linear-gradient(167deg, #2b87ff, #0067f5);
    border-radius: 100px;
    padding: 10px 30px;
    outline: none;
    display: inline-block;
}
& .header-wrapper{height: 6.875rem;}
& .top_header {
    border-bottom: 5px solid #0067f5;
    height: 50px;
    background: #f6faff;
}
.bg_color{height: 50px;
    background: #f6faff;}